body {
  background-color: var(--dark-bg-main);
  color: var(--dark-text-main);
}

.switch__icon {
  color: var(--color-switch-icon-light);
}

.processing__container {
  background-color: var(--dark-bg-second);
  border: 1px solid var(--dark-border-color);
}

.processing__menu {
  background: var(--dark-bg-third);
}

.processing__title {
  color: var(--dark-text-main);
  border-color: var(--dark-bg-textarea);
}

.textarea {
  background-color: var(--dark-bg-textarea);
}

.textarea::placeholder,
.swap__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.swap__input {
  background-color: var(--dark-bg-textarea);
}

.swap__text {
  color: var(--dark-text-main);
}

.textarea::-webkit-scrollbar-track {
  background-color: var(--dark-bg-third);
}